altgraph
blinker==1.9.0
click==8.1.8
Flask==3.1.0
Flask-FlatPages==0.8.3
Frozen-Flask==1.0.2
future
gunicorn==23.0.0
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.5
macholib
Markdown==3.7
MarkupSafe==3.0.2
packaging==24.2
PyYAML==6.0.2
six
Werkzeug==3.1.3
zipp==3.21.0
