{% extends "index.html" %}

{% block content %}
<style>
    .logo-box{
        height: 60px;
        align-items: flex-start;
    }
    .logo-image {
        height: 70px;
    }
</style>

<div class="contact-me" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 30px; text-align: center; padding: 30px;">
    <div>Email me at
        <a href="mailto:vasilisa.ioukhnovets@gmail.com" style="color: black; text-decoration-thickness: 1.5px; text-decoration-color: red;">vasilisa.ioukhnovets@gmail.com</a></div>
    <br>
    Or, this is my <a href="https://www.linkedin.com/in/vasilisaioukhnovets" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration-thickness: 1.5px; text-decoration-color: red;">LinkedIn</a>.
</div>


{% endblock %}
