{% extends "index.html" %}

{% block content %}

<div class="secondary-header container mt-1 text-center">
    <h1>MY WRITING</h1>
</div>
    
<div class="featured container mt-4">
    
    <div class="row justify-content-center g-4">
      <div class="col-4 image-container">
        <a href="/art/post/010424.md">
            <img src="{{ url_for('get_image', filename='010424.jpg') }}" alt="Post Image" style="height: 200px; width: 100%; object-fit: cover;">
        </a>
      </div>
      <div class="col-4">
        <a href="/art/post/060524.md">
            <img src="{{ url_for('get_image', filename='060524.jpg') }}" alt="Post Image" style="height: 200px; width: 100%; object-fit: cover;">
        </a>
      </div>
      <div class="col-4">
        <a href="/misc/post/101823.md">
            <img src="{{ url_for('get_image', filename='101823.jpg') }}" alt="Post Image" style="height: 200px; width: 100%; object-fit: cover;">
        </a>
      </div>
    </div>
  </div>

  <div class="blurb container mt-4 mb-5">
    <p class="lead">
        This is my writing portfolio. I write and curate the most important 
        <a href="/art" class="underline">art and design exhibitions</a>, 
        <a href="/fashion" class="underline">exciting fashion news</a>, and at times,
        <a href="/misc" class="underline">miscellaneous articles.</a>. Like this one, on 
        <a href="/misc/post/070324.md/" class="underline">the world's best martinis</a> or 
        <a href="/misc/post/101823.md/" class="underline">the opening of Fotografiska in an ex-artist's colony in Berlin</a>. If you like what you see, contact me 
        <a href="/contact/" class="underline">here</a>.
        <br>
        <br>
        Website made by me.
    </div>
</div>
{% endblock %}
